@using MVCStore.Models
@using MVCStore.MvcHelpers
@model ProductListViewModel
@*@model IEnumerable<MVCStore.Domain.Core.Product>*@
@{
    ViewBag.Title = "List";
}

<h2>Products</h2>
<p>
    @Html.ActionLink("Add new Product", "Create", "Product", null,
    new { @class = "btn btn-success btn-md" })
</p>



@foreach (var item in Model.Products)
{
    <div class="well">
        <h3>
            <strong>@item.Name</strong>
            <span class="pull-right label label-info">@item.Price.ToString("# $")</span>
        </h3>
        <span class="lead">@item.Description</span>
        <br />
        @Html.ActionLink("Edit", "Edit", "Product", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
        @Html.ActionLink("Delete", "Delete", "Product", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
    </div>


}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new { page = x, category = Model.CurrentCategory }))
</div>
